/*HH welcome to my page and have fun stealing my source code*/
html{
	background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-wrap:	nowrap;
	justify-content: center;
}
#lol{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
ul{
	position: absolute;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-align: right;
	font-size: 20px;
	width: 415px;

}
li a{
	float: left;
	display: block;
	padding: 10px 15px;
	text-align: right;
	text-decoration: none;
	min-width: 60px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	text-shadow: 0px 0px 2px gray;
	color: white;
}
li a:hover{
	animation: blue;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
p{
	position: absolute;
	color: white;
	font-weight: bold;
	font-family: 'Noto Sans', sans-serif;
	top: 0px;
	font-size: 20px;
	left: 25px;
}

#p{
	color: white;
	text-decoration: none;
}
#p:hover{
	animation: blue;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
@keyframes blue{
	0%{color: white;}
	50%{color: #8A3324;text-shadow: 0px 0px 10px black;}
	75%{color: #8A3324;text-shadow: 0px 0px 10px black;}
	100%{color: white;}
}
input{
	position: relative;
	top: 280px;
	margin-left: auto;
    margin-right: auto;
    display: block;
    
    opacity: 0.5;
    border-radius: 15px;
    width: 400px;
    height: 30px;
    border: 2px solid;
    border-color: gray;
 
    font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	text-rendering: auto;
	text-align: center;
}
input:hover{
	animation: blueshadow1;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
@keyframes blueshadow1{
	0%{   box-shadow: 0px 0px 5px white;color: black;background-color: white;}
	50%{box-shadow: 0px 0px 15px #8A3324;color: white; background-color:#8A3324 ;}
	75%{box-shadow: 0px 0px 15px #8A3324;color: white; background-color:#8A3324 ;}
	100%{   box-shadow: 0px 0px 5px white;color: black;background-color: white;}
}
h1{
	position: relative;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px;
	top: 270px;
	color: white;
	color: white;
	font-weight: bold;
	font-family: 'Noto Sans', sans-serif;
}
h1:hover{
	animation: blue;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
@keyframes blueshadow{
	0%{box-shadow: 0px 0px 0px 	white;}
	50%{box-shadow: 0px 0px 15px #8A3324;text-shadow: 0px 0px 10px white;}
	75%{box-shadow: 0px 0px 15px #8A3324;text-shadow: 0px 0px 10px white;}
	100%{box-shadow: 0px 0px 0px white;
	}